<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.example" level="${LOG_LEVEL:-INFO}" />

    <!-- MongoDB Driver Loggers -->
    <logger name="org.mongodb.driver" level="${MONGODB_LOG_LEVEL:-WARN}" />
    <logger name="org.mongodb.driver.connection" level="${MONGODB_LOG_LEVEL:-WARN}" />
    <logger name="org.mongodb.driver.cluster" level="${MONGODB_LOG_LEVEL:-WARN}" />
    <logger name="org.mongodb.driver.protocol" level="${MONGODB_LOG_LEVEL:-WARN}" />
    <logger name="org.mongodb.driver.operation" level="${MONGODB_LOG_LEVEL:-WARN}" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>